{% extends "main_base.html" %}
{% block head_title %}Edit{% endblock %}
{% load profile_filters %}
{% block content %}
<div class="mar-top-15">
  <div class="col-sm-6">
    <div class="box border success">
      <div class="box-body  no-more-tables">
        <form method="post" action="{% url 'poeditor_app:edit_panel_page' %}">
          {% csrf_token %}
          {{edit_form.unfilled_languages | hiddenfiled }}
          {{edit_form.filled_languages | hiddenfiled }}
          <p class="text-danger"></p>
          <div class="form-group ">
            <label class="control">Group</label>
            {{edit_form.groups | addclass:"form-control"}}
            <p class="text-danger"></p>
          </div>
          <div class="form-group ">
            <label class="control">Name</label>
            {{edit_form.strid | addclass:"form-control"}}
            <p class="text-danger"></p>           
          </div>     
          <div class="form-group ">
            <label class="control">fuzzy</label>
            {{edit_form.fuzzy}}
            {{edit_form.check}}
            <p class="text-danger"></p>           
          </div>        
          <div class="form-group ">
            <label class="control">Translation</label>
            {{edit_form.information |addclass:"form-control" }}
            <p class="text-danger"></p>
          </div>
          <div class="text-right"> <a class="btn btn-default" href="" disabled="true">Delete</a> <a class="btn btn-default" href="{% url 'panel_page' %}">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"> <!-- BOX --> 
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box border success">
      <div class="box-body  no-more-tables">
        <div class="list-group" > 
        <form action="{% url 'poeditor_app:edit_panel_page' %}" method="GET">
          <input type="hidden" value="english" name="submit_language" class="submit_language"/>
          <input type="hidden" name="select_group" class="select_group" value="{{select_group}}"/>
          <input type="hidden" value="" name="str"/>
          {% for langs in language %}

          <a {% if langs.select %} class="list-group-item active" {% else %} class="list-group-item " {% endif %} href="#" str="{{langs.lang}}"> <span class="game_type_item">{{langs.str}} &nbsp; <span class="label label-success"> {{langs.lang}}</span></span>
            </a> 
          {% endfor %}
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"> <!-- BOX --> 
    </div>
  </div>
  <div>{{errors}}</div>
</div>
<script>

$('input[name="str"]').val($('#id_strid').val());
$(document).on("click", ".list-group-item ", function (){
$(this).parent().children("input[name='submit_language']").val($(this).attr("str"));
$(this).parents("form").submit();
});

</script>
{% endblock %}