{% extends "main_base.html" %}
{% block head_title %}Panel Page{% endblock %}
{% load profile_filters %}
{% block content %}
<div class="col-md-12">
  <div class="box border success">
    <div class="box-body  ">
      <form action="{% url 'poeditor_app:search_panel_page' %}" method="GET" id="form_search" >
        <div class="col-sm-12">
          <p class="text-danger"></p>
          <div class="form-group">
            <div class="input-group">
              {{search_form.search_text  | placeholder:"Search" | addclass:"form-control"}}
              {{search_form.group | hiddenfiled}}
              {{search_form.fill_language | hiddenfiled}}
              {{search_form.unfill_languages | hiddenfiled}}
              <span class="input-group-btn">
              <button id="bt_search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>
              </span></div>
          </div>
        </div>
      </form>
      <form action="{% url 'panel_page' %}" method="GET" id="form_language">
        <div class="clearfix"></div>
        <div class="col-sm-4">
          <div class="form-group ">
            <label class="control">Language</label>
            {{panel_form.filled_languages | addclass:"form-control" }}
            <p class="text-danger"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group ">
            <label class="control">Language unfilled</label>
            {{panel_form.unfilled_languages | addclass:"form-control" }}
            <p class="text-danger"></p>
          </div>
        </div>
        {{panel_form.searchtext  | hiddenfiled}}
        <div class="col-sm-4">
          <div class="form-group ">
            <label class="control">Group</label>
            {{panel_form.groups | addclass:"form-control"}}
            <p class="text-danger"></p>
          </div>
        </div>
        <div class="col-sm-12 text-right clearfix"> <a class="btn btn-default" href="{% url 'panel_page' %}">Reset</a>
          <button type="button" class="btn btn-default" id="fill_unfill_submit_form">Submit</button>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Group</th>
            <th></th>
            <th></th>
            <th class="hide">Ocurrence</th>
          </tr>
        </thead>
        <tbody id="table_data">
        {% for data in po_data %}
          {% if data.id <= load_key %}
            <tr class="entry" key_val="{{data.id}}">
            {% else %}
            <tr class="entry hide" key_val="{{data.id}}">
            {% endif %}
            <form action="{% url 'poeditor_app:edit_panel_page' %}" method="GET">
            <td>
              {{data.id}}
              <input type="hidden" value="{{data.id}}" name="id_val" />
            </td>
            <td>
              {{data.str}}
              <input type="hidden" value="{{data.str}}" name="str" />
            </td>
            <td>{{groups}}</td>
            <td class="green_label">
            <input type="hidden" value="" name="submit_language" class="submit_language"/>
            {%for lang in data.trans_lang%}
              <a href="javascript:void(0)" class="lanedit label label-success">{{lang}}</a>
            {%endfor%}
            </td>
            <td>
            <button type="button" class="edit_button btn btn-info">Edit</button>
            <input type="hidden" value="" name="unfilled_language" class="unfilled_language"/>
            <input type="hidden" value="" name="filled_language" class="filled_language"/>
            <input type="hidden" value="" name="select_group" class="select_group"/>
            </td>
            <td class="hide">
              {%for ocur,number in data.ocurrences%}
             <a href="#"> {{ocur}}:{{number}} </a> <br>
              {%endfor%}
            </td>
             </form>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
 
  
<nav class="text-center">
  <ul class="pagination">
 {% for page in page_size %}
    <li class="mar_bottonm_10" >
    <a href="#" class="page" page_number="{{page.0}}" first_key="{{page.1}}" last_key="{{page.2}}"> <span> {{page.0}} </span> </a> </li>
       {%endfor%}
  </ul>
</nav>
  </div>
</div>

<script type="text/javascript">
$(".page").first().parent().attr("class","mar_bottonm_10 active");
$(document).on("click", ".page", function () {
    var page_number = parseInt($(this).attr("page_number"));
    var first_key = parseInt($(this).attr("first_key"));
    var last_key = parseInt($(this).attr("last_key"));
    $(".entry").each(function(){
      $(this).attr("class","entry") ;
      key_val = parseInt($(this).attr("key_val"));
      if (key_val>=first_key && key_val<=last_key){
        $(this).show();
      }
      else{
        $(this).hide();
      }
    });
    $(".page").each(function(){
      $(this).parent().attr("class","mar_bottonm_10");
    });
    $(this).parent().attr("class","mar_bottonm_10 active");
});

/*$(document).on("keyup", "#id_search_text", function () {
  if ($(this).val()){
  }else{
    $("#form_language").submit();
  }

});
*/

$(document).on("click", ".lanedit", function (){

  $(this).parent().children("input").val($(this).text());
  $(this).parents("tr").children("form").submit();
});


</script>

<script type="text/javascript" src="/static/js/panel-html.js"></script>
{% endblock %}